# Python virtual environment
.venv/

# Memory dumps
sample_dump/
sample dump/
output/*.txt
output/*.pdf
output/*.json

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

!output/.gitkeep
